<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>

<div class="row">
    <div class="col-md-6">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Your Access Token</h5>
                <span>adasdad-8dg78dad7gas7-dq98c2ze9cq-2eq9ezc</span>
            </div>
        </div>
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Settings</h5>
                <form novalidate="" class="ng-untouched ng-pristine ng-valid">
                    <div class="position-relative form-group"><label for="profileName">Name</label><input class="form-control" id="profileName" name="text" placeholder="John" type="text"></div>
                    <div class="position-relative form-group"><label for="profileNickname">Nickname</label><input class="form-control" id="profileNickname" name="text" placeholder="xXJohn86Xx" type="text"></div>
                    <div class="position-relative form-group"><label for="profilePassword">Password</label><input class="form-control" id="profilePassword" name="password" placeholder="Your Password" type="password"></div>
                    <button class="mt-1 btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Images</h5>
                <span>Will be here</span>
            </div>
        </div>
    </div>
</div>